{% extends "index.html" %}

{% block content %}
{%- if not page %}{% set page = section %}{% endif -%}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {%if page.date %}<span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>{% endif %}
  {{ page.content | safe }}
</div>
{% endblock content %}

